.mobile {
    opacity: 0;
    margin: 0;
    width: 10%;
    height: 100%;
}



@media only screen and (max-width: 480px) {
	.mobile {
        width: 0%;
    }
    .bar { 
		margin: 0%;
	}
}

.bar {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
    
}

.bar:first-child { margin-left: 0; }
